@import url(http://fonts.googleapis.com/css?family=Lato:400italic,700italic,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css);
@import 'stylesheets/login';
@import 'stylesheets/users';

* {
	box-sizing: border-box; 
}

html {
  background: #031705;
}

body {
	background: #031705;
	margin:0;
	padding:0; 
	font-family: 'Lato', sans-serif;
}
.home-wrapper {
	background: radial-gradient(ellipse at center, #49854D 0%, #0C5D12 100%);
	border:1px solid #49854D;
	box-shadow: 0 1px #49854D inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	width: 360px;
	height: 380px;
	margin: 60px auto;
	padding: 50px 30px 0 30px;
	text-align: center;
	.button-group {
		margin:25px auto;
	}
	h1 {
		margin: 0 0 50px 0;
		padding: 0;  
		font-size: 26px;
		color: #fff;
	}
	h5 {
	    display: flex;
    	flex-direction: column;
		margin-top: 40px;
		font-size: 20px;
	}
}
