.users {
	.card {
		max-width:900px;
		width: 90vh;
		margin: auto;
		.card-divider {
			background: radial-gradient(ellipse at center, #11527c 0%, #0c3d5d 100%);
			color: white;
			display: flex;
		    justify-content: space-between;
		    align-items: center;
		}
	}
}