<section class="home-wrapper">
	<h1>Welcome To Supertech</h1>
	<h5>
		<div class="button-group">
		  <a href="/login" class="button">Login</a>
		  <a href="/register" class="button">Register</a>
		</div>
	</h5>
</section>